.table-actions {

    .start,
    .end {
        display: flex;
        gap: var(--p-gap);
        align-items: center;
    }
}

.p-datatable-header .table-actions {
    padding: var(--p-gap);
    border-radius: var(--p-content-border-radius);
    background-color: var(--p-glass);
    display: flex;
    justify-content: space-between;
}

.p-datatable .p-paginator {
    background-color: transparent;
}
