.table-actions {

    .start,
    .end {
        display: flex;
        gap: var(--p-gap);
        align-items: center;
    }
}

.p-datatable-header .table-actions {
    padding: var(--p-gap);
    border-radius: var(--p-content-border-radius);
    background-color: var(--p-glass);
    display: flex;
    justify-content: space-between;
}

.p-datatable .p-paginator {
    background-color: transparent;
}

.p-menu-start div {
    display: flex;
    flex-direction: column;
}

.filters-toggler,
.filters-toggler button {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
}

.filters-toggler button {
    justify-content: flex-end;
    padding: var(--p-content-padding);
}

.filters-toggler button:hover {
    cursor: pointer;
    background: transparent !important;
}
