/* Primary and Surface Palettes */
:root {
    --p-primary-50: #0F8BFD20;
    --p-primary-100: #0F8BFD40;
    --p-primary-200: #0F8BFD50;
    --p-primary-300: #0F8BFD70;
    --p-primary-400: #0F8BFD80;
    --p-primary-500: #0F8BFD;
    --p-primary-600: #0F8BFD;
    --p-primary-700: #0F8BFD;
    --p-primary-800: #065f46;
    --p-primary-900: #064e3b;
    --p-primary-950: #022c22;
    --p-surface-0: #ffffff;
    --p-surface-50: #fafafa;
    --p-surface-100: #f4f4f5;
    --p-surface-200: #e4e4e7;
    --p-surface-300: #d4d4d8;
    --p-surface-400: #868c9b;
    --p-surface-500: #71717a;
    --p-surface-600: #52525b;
    --p-surface-700: #3f3f46;
    --p-surface-800: #27272a;
    --p-surface-900: #18181b;
    --p-surface-950: #09090b;
    --p-content-border-radius: 6px;
}

/* Light */
:root {
    --menu-width-opened: 19rem;
    --menu-width-closed: 6.571em;
    --menu-width: var(--menu-width-closed); 
    --p-background-color : linear-gradient(180deg, #2e323f 0%, #0a061a 100%);
    --p-primary-color: var(--p-primary-500);
    --color-card: rgba(255, 255, 255, .05);
    --p-primary-contrast-color: var(--p-surface-0);
    --p-primary-hover-color: var(--p-primary-200);
    --p-primary-active-color: var(--p-primary-700);
    --p-content-border-color: var(--p-surface-200);
    --p-content-hover-background: var(--p-surface-100);
    --p-content-hover-color: var(--p-surface-800);
    --p-highlight-background: var(--p-primary-50);
    --p-highlight-color: var(--p-primary-700);
    --p-highlight-focus-background: var(--p-primary-100);
    --p-highlight-focus-color: var(--p-primary-800);
    --p-text-color: var(--p-surface-400);
    --p-text-hover-color: var(--p-surface-800);
    --p-text-muted-color: var(--p-surface-500);
    --p-text-hover-muted-color: var(--p-surface-600);
}

/* 
 * Dark Mode
 * Defaults to system, change the selector to match the darkMode in tailwind.config.
 * For example; 
 * darkMode: ['selector', '[class*="app-dark"]'] 
 * should be;
 * :root[class="app-dark"] {
*/
/* @media (prefers-color-scheme: dark) { */
:root[class="my-app-dark"] {
        --p-primary-color: var(--p-primary-400);
        --p-background-color : linear-gradient(180deg, #f6f9fc 0%, #ececf9 100%);
        --p-primary-contrast-color: var(--p-surface-900);
        --p-primary-hover-color: var(--p-primary-300);
        --p-primary-active-color: var(--p-primary-200);
        --p-content-border-color: var(--p-surface-700);
        --p-content-hover-background: var(--p-surface-800);
        --p-content-hover-color: var(--p-surface-0);
        --p-highlight-background: color-mix(in srgb, var(--p-primary-400), transparent 84%);
        --p-highlight-color: rgba(255, 255, 255, 0.87);
        --p-highlight-focus-background: color-mix(in srgb, var(--p-primary-400), transparent 76%);
        --p-highlight-focus-color: rgba(255, 255, 255, 0.87);
        --p-text-color: var(--p-surface-700);
        --color-card: rgba(0, 0, 0, 0.05);
        --p-text-hover-color: var(--p-surface-0);
        --p-text-muted-color: var(--p-surface-400);
        --p-text-hover-muted-color: var(--p-surface-300);
    }
/* } */



body {
    background: var(--p-background-color);
    min-height: 100vh;
}
