.p-datatable{
    background-color: var(--color-card) !important;
    border-radius: 6px;
    padding: 10px;
}
.p-datatable-header{
    background-color: transparent !important;
    border-color : var(--color-card) !important;
}
.table-actions .start , .table-actions .end{
    display: flex;
    gap: 10px;
    align-items: center;
}
.table-actions svg{
    fill: var(--p-primary-contrast-color) !important;
}
.p-datatable-header .table-actions{
    padding: 10px;
    border-radius: 6px;
    background-color: var(--color-card) !important;
    display: flex;
    justify-content: space-between;
}
.p-datatable table, .p-datatable thead , .p-datatable tbody , .p-datatable th , .p-datatable tr , .p-datatable td{
    background: transparent !important;
    border-color : var(--color-card) !important;
}
.p-datatable .p-paginator{
    margin-top: 10px !important;
}
.p-datatable table td{
    color: var(--p-primary-contrast-color) !important;
}

.p-datatable .p-paginator{
    background-color: var(--color-card) !important;
}
.p-datatable .p-checkbox-box{
    background-color: var(--color-card) !important;
    border-color: var(--p-primary-100);
}
.p-datatable .p-checkbox-checked .p-checkbox-box{
    background-color: var(--p-primary-300) !important;
}